@font-face {/*Fuenta personalizada*/
    font-family: "miFuente";
    src: url(/SobreNosotros/louis_george_caf/Louis\ George\ Cafe\ Bold.ttf);
}
  
  
  body{
    font-family: "miFuente";
    background: #e6ecf5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #e6ecf5 #e6ecf5, #0f0c29); /* //*Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e6ecf5, #e6ecf5);; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*HASTA AQUÍ EL CÓDIGO DE COLOR SE OBTUVO DE LA SIG PÁGINA:https://uigradients.com/#Forest */
    /*display: flex;/*flex indica la capacidad de un elemento flexible para alterar sus dimensiones y llenar el espacio disponible. Mover el form*/
    /*justify-content:right;*/
}
  
  main{
    display: flex;
    margin-left: 500px;
    margin-top: 70px;
    margin-right: 200px;
}

nav{ /*Personal pet fuente*/
    list-style: none;
    font-family:'miFuente';
    color: #dbdfec;
}

nav ul li { /*botones de la barra*/
      display: inline-block; /*visualización interna y externa de un elemento.*/
      padding: 3px;
      position: relative;
      display: block;
      width: 100%;
    
}

.links-navbar {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.links-navbar:hover {
    background-color: #f4b942;
    box-shadow: 0px 15px 20px rgba(227, 210, 23, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.links-navbar:active {
    transform: translateY(-1px);
}

.btn-registro {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #4059ad;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #6b9ac4, #4059AD, #0f0c29);
    /* //*Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6b9ac4, #4059ad);

}

.footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #4059ad;
    background: -webkit-linear-gradient(to top, #6b9ac4, #4059AD, #0f0c29);
    background: linear-gradient(to right, #6b9ac4, #4059ad);
}

.d-block {
    object-fit: 50%;
}

.container{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

 

}
.jumbotron{

    background-color: #f4b942;
    font-family: "miFuente";



}