@font-face {/*Fuenta personalizada*/
  font-family: "miFuente";
  src: url(/assets/louis_george_caf/Louis\ George\ Cafe\ Bold\ Italic.ttf);
}


body{
  font-family: "miFuente";
  background: #4059ad;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #6b9ac4, #4059AD, #0f0c29); /* //*Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6b9ac4, #4059ad);; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*HASTA AQUÍ EL CÓDIGO DE COLOR SE OBTUVO DE LA SIG PÁGINA:https://uigradients.com/#Forest */
  /*display: flex;/*flex indica la capacidad de un elemento flexible para alterar sus dimensiones y llenar el espacio disponible. Mover el form*/
  /*justify-content:right;*/
}

h1{
  text-align: center; /*Centra la palabra "contáctanos"*/
  font-weight: 700;/* peso o grueso de la letra*/
}

form{/* estilo de la caja form*/
  padding: 20px 20px 10px ;/* relleno requerido por todos los lados del contenido;  top, right, bottom, left.*/
  border-radius: 14px;/* Borde del form.*/
  width: 420px;
  height: 600px;/* width and height modifican el tamaño de form*/
/* Aqu+i modificamos en margen entre el form y la pantalla*/
  margin-block-start: 50px;
  margin-block-end: 30px;
  margin-left: 450px;
  background: #fff;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  
}


.Formulario{ /* nombre completo, correo, mensaje, télefono*/
  margin-top: 15px;
  margin: 15px;
  color: #4059ad;
  font-family:"miFuente";
  font-size: 13px;

  }


.form-control{
    font-family: "miFuente";
    background: #c6d2f8;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f3d6f5, #45bedc);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e5d2e6, #bac6ec);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgb(0, 0, 0);
}

/* AQUÍ INICIA EL CSS DE BOTONES*/
/*CSS BOTON DE "ENVIAR"*/


.form-cta{
  background: #12124e;
  color: #fff;
  border: none;
  font-weight: 300;
  padding: .7em 0;
  cursor: pointer;
  border-radius: 10px;
  width: 300px;
  font-size: 11px;
  justify-content:center;
}

.contacto{ /* Modificar parte de email, telefono has recibir novedades*/

  border-radius: 3em;
  padding: 3.5em 1.5em;
  margin:auto;
  font-size: 11px;
  font-family:"miFuente";
}
p{
  font-size: 16px;
  font-weight: bold;
}/*SE modifica las panras ¿cómo le gustaría ser contactado.*/

.img-thumbnail{
  width: 400px;
  height: auto;
  position: top;/*se define mediante los valores left, top, right y bottom, los cuales se calculan respecto a los márgenes del elemento padre (ventana del navegador.)*/
  margin-left: 100px;
  border-radius: 1em;
  display: flex;/*flex es una propiedad resumida que indica la capacidad de un elemento flexible para alterar sus dimensiones y llenar el espacio disponible.*/

}

nav{ /*Personal pet fuente*/
  list-style: none;
  font-family:'miFuente';
  color: #dbdfec;
}
nav ul li { /*botones de la barra*/
    display: inline-block;
    padding: 3px;
    position: relative;
    display: block;
    width: 100%;
  
}

@media screen and (max-width:500px){
  form{
      width: 80%;
  }
}

@media screen and (max-width: 980px){
  form{
      width: auto;
  }
}
